<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="https://www.dita-ot.org/rng/plugin.rnc" type="application/relax-ng-compact-syntax"?>

<plugin id="com.arkadianriver.spec.parts">
  <feature extension="dita.specialization.catalog.relative"
           file="catalog.xml"/>
  <feature extension="dita.xsl.html5" file="xsl/parts2html5.xsl"/>
</plugin>
